.toolbar {
  padding: 16px;
  position: fixed;
  z-index: 1;
  display: flex;
  gap: 16px;

  label,
  button {
    display: block;
    background: #116e6b;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }
}
